<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>gangwon.otf</string>
		<string>PretendardBlack.otf</string>
		<string>PretendardBold.otf</string>
		<string>PretendardExtraBold.otf</string>
		<string>PretendardExtraLight.otf</string>
		<string>PretendardLight.otf</string>
		<string>PretendardMedium.otf</string>
		<string>PretendardRegular.otf</string>
		<string>PretendardSemiBold.otf</string>
		<string>PretendardThin.otf</string>
	</array>
</dict>
</plist>
